@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin text-gradient-color($color1, $color2) {
  display: inline-block;
  background-image: linear-gradient(
    to right, $color1, $color2
  );
  -webkit-background-clip: text;
  color: transparent;
}
